/* HomePage Styles  */
.HomePageHeading{
  font-family:cursive;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

/* Login Styles */

/* Registration Styles */
.HeadingStyles {
	font-size: 25px;
	font-weight:bold;
}
.error{
  color: red;
  margin-left: 8px;
}
/* Sidebar Styles */

.LogoName{
  display: flex;
}
.InstaName{
  font-size: 25px;
  margin-left: 10px;
  font-family:cursive;
}
.InstaLogo{
  font-size: 40px;
}
.hrSidebar{
  overflow-y:scroll; 
  transform: translateY(-20px);
  height: 74.9vh;
}
.hrSidebar::-webkit-scrollbar{
  display: none;
}
.sidebarAllItems:nth-child(1){
  margin-top: 20px;
}
.sidebarAllItems{
  margin-left: 20px;
}
.sidebarMainItems{
  display: flex;
}
.SideIcons{
  margin-right: 10px;
  font-size: 20px;
}
.profilePic{
  object-fit: cover;
}
/* Story middle */
.NoStory{
  font-size: 22px;
  margin: 29px 0px 0px 5px;
}
.emptyDiv{
  background-color: #CFD8DC;
}
.colorForPosts{
  background-color: #CFD8DC;
}
.StoryMain{
  display: flex;
  height:15vh;
  background-color: #CFD8DC;
}
.allStoryItems{
  margin-top: 16px;
  display: flex;
  overflow-x: scroll;
}
.allStoryItems::-webkit-scrollbar{
  display: none;
}
.storyPlusSymbol{
  display: flex;
  font-size: 100px;
  cursor: pointer;
}
.marginCross{
  margin-left: -20px;
}
.SinglePlusForStory{
  font-size: 100px;
  cursor: pointer;
}
.oneStory{
  display: flex;
  flex-direction: column;
}
.currentUserStoryName{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 55px 0px 0px 0px;
}

/* .deleteBtn{
  margin-left: 260px;
} */
.singleStoryImage{
  width: 60px;
  height: 60px;
  margin-left: 8px;
  object-fit: cover;
  border-radius: 50%;
}
.singleStoryName{
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  word-wrap: wrap;
}
.currentUserStoryMain{
  width: 60px;
  height: 60px;
  margin: 17px 0px 0px 8px;
  object-fit: cover;
  border-radius: 50%;
  border:3px solid rgb(230, 36, 165);
  cursor: pointer;
  position: relative;
}
.currentUserStory{
  position: absolute;
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.PostsMain{
  overflow-y: scroll;
  height: 84.8vh;
}
/* .PostsMain::-webkit-scrollbar{
  display: none;
} */
.PostInputBox{
  margin: auto;
}

/* Post Middle */
.LikesCount{
  text-align: left;
  margin-left: 23px;
}
.LikesCountSaved{
  text-align: left;
  margin-left: 23px;
  margin-top: -18px;
}
.imagePostInput,.videoPostInput{
  width: 30px;
  position: absolute;
  margin-top: 18px;
  margin-left: -32px;
  opacity: 0;
}
.postName{
  margin: 5px 0px 0px -10px;
  font-family: cursive;
}
.postNameAt{
  /* margin-top: -5px; */
  font-size: 15px;
  margin-left: -3px;
}
.MoreBackground{
  background: none;
  border: none;
}
.redHeart{
  color: red;
}

.postHeart{
  transform: translateY(1.9px);
  font-size: 22px;
}
.savedPostHeart{
  transform: translateY(-2px);
  font-size: 25px;
}
.postImageIcon,.postVideoIcon{
  font-size: 35px;
}
.SinglePostMain{
  text-align: center;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #e2e2e2;
  position: relative;
  padding-bottom: 10px;
}
.SinglePostImage{
  width: 470px;
  height: 500px;
  object-fit:cover;
  border-radius: 10px;
  cursor: pointer;
}
.postHeading{
  display: flex;
}
.postNameandDesc{
  display: flex;
  flex-direction:column;
  margin-left: 10px;
}
.CommentIconsSec{
  display: flex;
  margin-left: 10px;
}
.SavePostBtnn{
  position: absolute;
  font-size: 20px;
  margin-right: 40px;
  cursor: pointer;
  right: 0;
  transform: translateY(8px);
}
.noPosts{
  font-size: 22px;
}
.SavePostBtn{
  position: absolute;
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
  right: 0;
  transform: translateY(-1px);
}
.HeartSymbolPost{
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.ChatPostBtn{
  transform: translateY(2px);
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.NoPostsMain{
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.SendPostBtn{
  font-size: 25px;
  transform: translateY(5px);
  margin-left: 10px;
  cursor: pointer;
}
.DescriptionSec{
  font-size: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}
.moreOption{
  position: absolute;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  margin: 5px 20px 0px 0px;
}
.postProfilePic{
  margin: 8px 0px 0px 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/* rightBar styles */
.leftArrow,.rightArrow{
  cursor: pointer;
}

.allUsersFollow{
  overflow-y: scroll;
  max-height: 60vh;
}
/* Comment Modal Styles */

.sendBtnCommentModal{
  cursor: pointer;
  margin-top: 5px;
  font-size: 27px;
  margin-left: -25px;
}
.AllCommentsModal{
  max-height: 50vh;
  overflow-y: scroll;
}
.singleCommentImage{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.commentImg{
  margin-top: 5px;
}
.singleComment{
  cursor: pointer;
  display: flex;
}
.singleComment:hover .commentMoreSymbol{
  opacity: 1;
  cursor: pointer;
  right: 0;
}
.commentText{
  margin-left: 6px;
}
.commentMoreSymbol{
  cursor: pointer;
  transform: translateX(-15px);
  pointer-events: none;
  opacity: 0;
}

/* PostSendModal */

.AllSendUsers{
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: scroll;
  text-align: justify;
}

.oneSingleUser{
  display: flex;
  margin-bottom: 14px;
}
.sendUserImage{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.sendUserImageDescMain{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  text-align: justify;
}
.sendUserImageName{
  margin-top: 10px;
  margin-left: 25px;
}
.imageNotification{
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.sendUserImageDesc{
  margin-left: 13px;
}
.sendUserTick{
  cursor: pointer;
}
.checkBoxClass{
  transform: translateY(2px);
  margin-left: -14px;
  opacity: 0;
  cursor: pointer;
}
/* Notifications Styles  */
.AllNotificationsModal{
  max-height: 60vh;
  overflow-y: scroll;
}

/* Saved Post All */
.NoSavedPosts{
  margin-top: 300px;
  margin-left: 300px;
  color: white;
  font-size: 25px;
}
.SavedPostAllMain{
  height: 100vh;
  overflow-y: scroll;
}
.SavedPostAll{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.SavedPostBox{
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}
.SavedPostBox img{
  width: 257px;
  height: 350px;
  object-fit: cover;
}
/* Saved Post Modal Styles */
.SavedPostModalImage{
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

/* Profile Page Styles */
.ProfilePageMain{
  height: 100vh;
  overflow-y: scroll;
}
.ProfilePageMain::-webkit-scrollbar{
  display: none;
}

.ProfilePageTopSec{
  margin: 20px auto;
  width: 850px;
  height: 350px;
  position: relative; /* Ensure the div is positioned */
}
.ProfilePageBackgroundImage{
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Ensure the image covers the container */
  position: absolute; /* Position the image within the div */
  border-radius: 10px;
  cursor: pointer;
}
.ProfilePageTopSecDp{
  margin-top: -120px;
  margin-left: 90px;
  width: 200px;
  height: 200px;
  position: relative; 
}
.ProfilePicDp{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  cursor: pointer;
}
.EditProfileBtn{
  margin: -70px 90px 0px 0px ;
  right: 0;
}
.ProfileDescription{
  text-align: justify;
  margin: 10px 90px 10px 80px;
}
.SingleProfilePostMain{
  overflow-y: scroll;
  max-height: 40vh;
}
/* .SingleProfilePostMain::-webkit-scrollbar{
  display: none;
} */
.ProfileNameHeading{
  margin-left: 30px;
  font-size: 20px;
  font-weight: bolder;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.descriptionName{
  margin-left: 30px;
}
.savedIconProfile{
  transform: translateY(-40px);
}
.SavePostBtnMain{
  position: absolute;
  font-size: 20px;
  margin-right: 40px;
  cursor: pointer;
  right: 0;
  transform: translateY(0px);
}
.SocialFollows{
  display: flex;
  margin: 10px 0px 0px 12px;
}
.ProfilePostDescription{
  margin: 10px 0px 0px 30px;
}
.ProfilePostHeading{
  cursor: pointer;
  margin:20px auto 0px auto;
  font-weight: 700;
}
.SingleProfilePost{
  margin: 10px auto;
  width: 247px;
  height: 350px;
  position: relative;
  border-radius: 10px;
}
.MyPostsProfile{
  width: 100%; 
  height: 100%;
  margin-left: 13px;
  object-fit: cover; 
  position: absolute; 
  border-radius: 10px;
  cursor: pointer;
}
.PostModalImage{
  width: 400px;
  height: 500px;
  object-fit: cover;
}

/* .sendBtnProfilePostModal{
  margin-top: 5px;
  font-size: 26px;
} */
.PostModalImageHeart,.PostModalImageChat,.PostModalImageSend{
  cursor: pointer;
  margin: 15px 0px 0px 20px ;
  font-size: 24px;
}
.AllPostModalDesc{
  margin-left: 10px;
  margin-top: -10px;
}
.ProfilePostHeadingImage{
  margin:7px 0px 0px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
/* Reels Styles  */
.video-cards{
  width: 300px;
  height: 300px;
}
.PostModalImage{
  cursor: pointer;
}

/* Reels Styles  */
.AllReelsVideos{
  display: flex;
  flex-direction: column;
}
.uploadReelInput{
  margin-top: 80px;
}
.ScrollOveflowReels{
  overflow-y: scroll;
  margin: auto;
  width: 500px;
  height: 80vh;
  position: relative;
  /* margin-top: 50px; */
  border-radius: 10px;
}

.MyReelProfiles{
  object-fit: cover;
  cursor: pointer;
  height: 73vh;
  width: 100%;
}
.AllReelCommentTasks{
  color: white;
  display: flex;
}
.ReelLike{
  display: flex;
  font-size: 25px;
  margin-right:15px;
  flex-direction: column;
  cursor: pointer;
}
.FollowReelBtn{
  margin-left: -16px;
  cursor: pointer;
}
.ReelComment{
  display: flex;
  font-size: 25px;
  margin-right:15px;
  flex-direction: column;
  cursor: pointer;
}
.ReelSend{
  font-size: 25px;
  cursor: pointer;
}