.RightbarMain{
  background-color: #CFD8DC;
}
.rightBarHeading{
  height: 11vh;
  overflow-x: scroll;
  padding: 20px 0px 0px 20px;
}
.rightBarHeading::-webkit-scrollbar{
  display: none;
}
.rightbarImage{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.rightProfileName{
  margin-left: 10px;
  font-size: 22px;
  font-family: cursive;
  font-weight: bold;
}
.SearchUsers{
  background-color: white;
  border-radius: 5px;
  height: 8vh;
  margin-top: -10px;
  overflow-x: scroll;
}
.SearchUsers::-webkit-scrollbar{
  display: none;
}
.followOption{
  position: absolute;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 20px 0px 0px;
}
.AllUsersFollow{
  height: 60vh;
  overflow-y: scroll;
}
.AllUsersFollow::-webkit-scrollbar{
  display: none;
}